@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital@0;1&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --fallback-font:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --main-font-family: "Google Sans Code";

  /* palette */
  --pearl-aqua: #9dd9d2;
  --jasmine: #f4d06f;
  --olive: #767522;
  --floral-white: #fff8f0;
}

body {
  font-family: var(--main-font-family), var(--fallback-font);
  min-height: 100vh;
  font-size: 1.3rem;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  background: linear-gradient(var(--floral-white), var(--pearl-aqua));
}

/* weather section */
.weather-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}

.weather-location {
  text-align: center;
}

.icon-temp-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}

.weather-icon {
  width: 150px;
  height: 150px;
}

.current-temp {
  font-size: 4.5rem;
}

.time-cond-wrapper {
  text-align: right;
}

.current-time {
  font-weight: bold;
  font-size: 1.8rem;
}

/* weather stats table */
.weather-stats-table {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 10px;
  font-size: 1.5rem;
}

.weather-stats-list {
  background-color: var(--floral-white);
  padding: 5px 12px;
  border-radius: 5px;
}
